.Image{
    width: fit-content;
    min-height: min-content;
}
.icon {
    //size: comparable($number1: , $number2: );
    background-color: alpha($color: #af9292);
}
// margin-top: 31px;
    // margin-left: -24px;
 // margin-right: -22px;
    // margin-bottom: -24px;
