<div fxLayoutAlign="space around center" fxLayout="column" fxFlex="100">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />

  <mat-card *ngIf='!card' class="border" class="border">
      <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="center end">
              <mat-form-field appearance="none">
                  <input style="border: none; " matInput placeholder="Take a note..." class="input" (click)="cardSwap1()">
              </mat-form-field>
          </div>
          <span fxFlex></span>
          <button mat-icon-button class="nav-button" matTooltip="New list">
  <mat-icon fontSet="material-icons-outlined" style="
  margin-left: 300px;
">
        check_box
      </mat-icon></button>

          <button mat-icon-button class="nav-button" matTooltip="New note with drawing">
      <mat-icon fontSet="material-icons-outlined" style="
      margin-left: 303px;
  ">

        brush
      </mat-icon></button>

          <button mat-icon-button class="nav-button" matTooltip="New note with image">
      <mat-icon fontSet="material-icons-outlined" style="
      margin-left: 303px;
  ">

        image
      </mat-icon></button>
      </div>
  </mat-card>

  <div class="div" fxLayoutAlign="space around center" fxLayout="column">
      <mat-card *ngIf='card'  class="list-view-mat-card">
          <form ngSubmit="submit" [formGroup]="createNoteform">
              <div class="titlebar">
                  <mat-form-field appearance="none">
                      <textarea style="border: none; " matInput placeholder="Title" formControlName="title" matTextareaAutosize class="input"></textarea>
                  </mat-form-field>
                  <span fxFlex></span>
                  <button class="pinbutton" matTooltip="Pin note">
              </button>
              </div>
              <div class="descbar">

                  <mat-form-field appearance="none">

                      <textarea style="border: none; " matInput placeholder="Take a note..." formControlName="description" matTextareaAutosize class="input" rows="3">
      </textarea>
                  </mat-form-field>
              </div>
              <div>
                  <mat-card-actions>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Remind me" (click)="today()">
                  <mat-icon fontSet="material-icons-outlined">
                      notifications_paused
          </mat-icon>
        </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Collaborator" (click)="addCollaborator">
                  <mat-icon fontSet="material-icons-outlined">
                      person_add
          </mat-icon>
        </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Change color">
                  <mat-icon fontSet="material-icons-outlined">
                      color_lens
                  </mat-icon>
        </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Add image">
                  <mat-icon fontSet="material-icons-outlined">
                      crop_original
                  </mat-icon>
                  </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Archive">
                  <mat-icon fontSet="material-icons-outlined"
                  >
                      archive
                  </mat-icon>
                  </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu" matTooltip="More">
                  <mat-icon fontSet="material-icons-outlined">
                      more_vert
                  </mat-icon>
                  </button>
                      <mat-menu #menu="matMenu" class="menuclass">
                          <mat-list-item><button mat-button>Delete note</button></mat-list-item>
                          <mat-list-item><button mat-button>Add label</button></mat-list-item>
                      </mat-menu>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Undo">
                  <mat-icon fontSet="material-icons-outlined">
                      undo
                  </mat-icon>
                  </button>
                      <button class="nav-button" margin="14px" mat-icon-button fxHide.xs="true" matTooltip="Redo">
                  <mat-icon fontSet="material-icons-outlined">
                      redo
                 </mat-icon>       
              </button>
                      <div>
                          <span fxFlex></span>
                          <div (click)="open=!open">
                          <button type="button" mat-button class="nav-button" (click)="onSubmit()"> Close </button>
                          </div>
                      </div>
                  </mat-card-actions>
              </div>
          </form>
      </mat-card>
  </div>
  <div>
  </div>

  <div class="popup" fxLayout="row" fxLayoutAlign="center center">
      <app-displaynotes></app-displaynotes>
  </div>

</div>


