<div class="limiter">
    <div class ="container-login100" fxLayout="row"  fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="example-card">
        <mat-card-header>
            <mat-card-title>
               <h2> Register </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="FirstName" type="text"  formControlName="fname"
                                    [(ngModel)]="user.fname" required pattern="^[A-Z][a-z]{2,}$" title="firstName start with caps">
                                    <mat-icon matSuffix>person_outline</mat-icon>
                                    <mat-error *ngIf="fname.invalid ">{{getFirstNameErrorMessage()}}</mat-error>
                                    
                            </mat-form-field>
    
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="LastName" type="text" formControlName="lname"
                                    [(ngModel)]="user.lname" required pattern="^[A-Z][a-z]{2,}$" title="lastName start with caps">
                                    <mat-icon matSuffix>person_outline</mat-icon>
                                    <mat-error *ngIf="lname.invalid ">{{getLastNameErrorMessage()}}</mat-error>
                            </mat-form-field>
                  
                   
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" type="Email"  formControlName="email"
                                    [(ngModel)]="user.email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="email.invalid ">{{getGmailErrorMessage()}}</mat-error>
                            </mat-form-field>
                     
    
                 
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="Password" [type]="hide ? 'password':'text'" formControlName="password"
                                    [(ngModel)]="user.password"  required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" title="one uppercase one lowercase special character and number">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="password.invalid ">{{getPassErrorMessage()}}</mat-error>
                            </mat-form-field>
    
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="ConfirmPasswpord" type="Password" [type]="hide ? 'password':'text'" formControlName="reTypePassword"
                                    [(ngModel)]="user.reTypePassword" required  pattern="{{password.value}}">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="reTypePassword.invalid ">{{getConPassErrorMessage()}}</mat-error>
                                    
                            </mat-form-field>
                    
                    
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="MobileNumber" type="Text" formControlName="mob_number"
                                    [(ngModel)]="user.mob_number">
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <mat-error *ngIf="mob_number.invalid ">{{getMobileNumErrorMessage()}}</mat-error>
                            </mat-form-field>
                     
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid"> Register</button>
                        <button mat-raised-button class="x" routerLink="/"> Cancel</button>
                    </div>
                
            </form>
        </mat-card-content>
    </mat-card>
    </div>
    </div>