.pin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 17em;
    visibility: visible;
  }

  .pin-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }